@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Bold';
  src: url('/fonts/G-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Demibold';
  src: url('/fonts/G-semi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Medium';
  src: url('/fonts/G-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Regular';
  src: url('/fonts/G-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #F9F9F9; /* Default soft black */
  --text-color: #000000; /* Default white */
  --accent-color: #EC512B; /* Default orange */
  --secondary-color: #F5BF49; /* Default yellow */
}

.alt-theme {
  --bg-color: #17191E; /* Alternate soft black */
  --text-color: #F9F9F9; /* Alternate white */
  --accent-color: #EC512B; /* Alternate orange */
  --secondary-color: #F5BF49; /* Alternate yellow */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 300ms, color 300ms;
}

.text-accent {
  color: var(--accent-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.navbar {
  transition: background-color 300ms;
}

.navbar.alt-theme {
  background-color: var(--text-color);
}

*
{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html 
{
  font-size: 1rem;
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  padding: 0;
}

li
{
  font-family: "Regular";
}

h1
{
  font-family: "Demibold"
}

h2
{
  font-family: "Demibold"
}

p
{
  font-family: "Regular";
}

button
{
  font-family: "Medium";
}

@layer utilities {
	ul li {
		@apply relative tracking-wide;
	}
	ul li::after {
		@apply content-[''] bg-[#000000] h-[2px] w-[0%] left-0 -bottom-[0px] mx-[10%] rounded-3xl absolute duration-300;
	}
	ul li:hover::after {
		@apply w-[80%];
	}
}

::selection {
  /* background: #F5BF49; */
  color: #EC512B;
}

